# Ignore from local build
settings.ini
Gemfile.lock
images/copied_from_nb/my_icons/fastai_logo.png
_posts/2020-01-14-test-markdown-post.md
_posts/2020-02-20-test.md
_posts/2022-08-26-Bash.md
_posts/2022-08-26-my-first-post.md
_posts/2022-08-29-intro-to-python.md
_posts/2022-08-29-other-class-notes.md
_posts/2022-08-29-post.md
_posts/2022-08-29-python-vocab.md
_posts/2022-08-30-Python-Notes.md
_posts/2022-09-01-python-list.md
_posts/2022-09-02-remote-theme-change.md
_posts/2022-09-09-applab-spiderman-quiz.md
_posts/2022-09-11-creative-development-outline.md
_posts/2022-09-12-sprint-backlog-for-apexam.md
_posts/2022-09-14-big-idea-1-collaboration.md
_posts/2022-09-18-focus-and-habits.md
_posts/2022-09-20-1.2-program-purpose.md
_posts/2022-09-25-java-table.md
_posts/2022-09-25-java-usage.md
_posts/2022-09-27-final-project-outline.md
_posts/2022-10-02-1.3-notes.md
_posts/2022-10-05-github-and-git-sociology.md
_posts/2022-10-06-pythonapi.md
_posts/2022-10-09-covidapi.md
_posts/2022-10-10-1.4-notes.md
_posts/2022-10-10-lovecalculatorapi.md
_posts/2022-10-17-PBL-javascript_frontend.md
_posts/2022-10-20-javascript-jokes-api.md
_posts/2022-11-04-night-at-the-museum.md
_posts/2022-11-08-final-mc.md